.stockList {
  margin: 0 auto;
  padding: 24px;
  max-width: 1030px;
  width: 100%;
  @media screen and (max-width: 991px) {
    padding: 0 16px;
  }
}

.selected {
  background-color: rgb(5,77,167);
}

.non-selected {
  background-color: #21262d;
}
